
#main-screen-center {
    font-family: "bartex";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
}

#barbieToDoList li {
    border-bottom: 1px solid black;
    margin: 20px 0px;
    padding: 5px;
    width: 150px;
}

