#main-screen {
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    outline: #EA4C89 2px solid;
    padding: 20px;
    font-family: "bartex";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
}

.main-screen-column:first-child {width: 20%;}
.main-screen-column:nth-child(2) {width: 60%;}
.main-screen-column:last-child {width: 20%;}

.main-screen-column:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-screen-column:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-screen-column:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-screen-left img {
    position: absolute;
    resize: 20%;
}

#profile-booth {
    position: relative;
    width: 300px;
    height: 100%;
}

#quote-container {
    position: absolute;
    margin-top: 150px;
    margin-left: 40px;
    border-radius: 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

#quote span:first-child {
    margin-bottom: 5px;
}

#quote-refresh {
    font-family: "bartex";
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 8px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#quote-refresh:hover {
  background-color: #F082AC;
}

#profile-choice {
    height: 100px;
    width: auto;
}

#profile-option {
    position: absolute;
}

#profile-choice {
    position: absolute;
}